.discover
  *
    box-sizing: border-box;

  .submit-button, .file-button
    font-size: 12px
    font-weight: 700
    color: black
    background-color: fuzzwhit
    display: inline-block
    border: solid 1px fuzzwhit
    padding: 5px
    margin: 5px

  .file-list
    li
      margin-left: 0%
      margin-bottom: 5px
      width: 60%
      height: 100%
      background: #c133fa
      list-style-type: none

  .tag-section
    display: flex
    width: 95%
    margin-top: 10px

  .tag-text-area
    font-size: 12px
    font-weight: 700
    color: fuzzwhit
    background-color: fuzzpurp
    float:left
    width: 280px

  .tag-button
    font-size: 12px
    font-weight: 700
    color: fuzzwhit
    background-color: fuzzpurp2
    display: inline-block
    float: right
    border: solid 1px fuzzwhit
    width: 70%
    padding: 7px
    margin-bottom: 10px

  .tag-button
    font-size: 12px
    font-weight: 700
    color: fuzzwhit
    background-color: fuzzpurp2
    display: inline-block
    float:left
    border: solid 1px fuzzwhit
    padding: 7px, 25px, 7px, 25px
    margin-bottom: 10px

  *
    box-sizing: border-box;

  .all-tags
    display: flexbox
    width: 60%
    height: 60%
    align-content: center
    font-size: 16px
    font-weight: 900
    color: white
    padding: 35px
    border: 1px solid fuzzpurp

  .tagList
    width: 35%
    height: 900px
    float: left
    padding: 15px
    border: 1px solid fuzzpurp

  .main-content
    display: block;
    float:right
    width:60%
    height: 900px
    bottom: 0px
    padding: 0px
    margin-top: 0px
    margin-right: 25px
    border: 1px solid fuzzpurp

  .header
    display: block;
    justify-content: left;
    padding: 15px
    bottom: 0px
    font-size: 32px
    font-weight: 900
    border: 1px solid fuzzpurp

  .all-tags
    align-content: center
    font-size: 16px
    font-weight: 900
    color: white
    padding: 35px
    margin-left: 25px

  .main
    background-color: fuzzblue3
    display: flex;
    justify-content: center;
    width: 78%
    height: 800px
    bottom: 0px
    float: left
    padding: 15px
    margin-top: 35px
    border: 1px solid fuzzpurp

  .thumb-box
    border: 2px
    border: solid 5px fuzzpurp
    background-color: light(grey)
    width: 125px
    height: 200px
    margin-right: 15px
