.dropdown
    position: relative;
    display: inline-block;
    width:95%
 .dropdown ul
     list-style-type: none;
     margin: 0;
     padding: 0;
     top:45px;
     right:0px;
     width: 95%;
     background-color: #c133fa;
     opacity: 1.0;
     font-weight:bold;
     position: absolute;

     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     //z-index: 1;

 .dropdown li a
     color: #000;
     text-decoration: none;

 .dropdown li
     padding: 8px 16px;
     border-bottom: 1px solid #e5e5e5;

 .dropdown li:last-child
     border-bottom: none;

 .dropdown li:hover
     background-color: #e5e5e5;
     color: white;

 .dropdown .button
     width:98%
     height:32px
     background-color: fuzzpurp
     padding:7px;
     border: solid 1px fuzzwhit
     font-weight:bold
     color:white

 .dropdown .button:before
     content:"";
     position:absolute;
     width:0px;
     height:0px;
     border: 10px solid;
     border-color: white transparent transparent transparent;
     right:8px;
     top:12px;
 .file-list
    li
      margin-left: 0%
      margin-bottom: 1px
      padding-top: 7px
      padding-bottom: 7px
      width: 90%
      background: #c133fa
      list-style-type: none
