@require 'colors.styl'
@require 'util.styl'

html, body
  background: fuzzblak
  color: fuzzwhit
  padding: 0
  margin: 0
  font-family: inconsolata

{ahref}
  color: fuzzpurp
  padding: 10px

p
  padding: 10px

#layout
  padding: 64px 20px 100px

@media (min-width: 800px)
  #layout
    width: 100%
    margin-right:20px

@require 'nav.styl'
@require 'share.styl'
@require 'switch.styl'
@require 'discover.styl'
@require 'dropdown.styl'
@require 'feed.styl'
@require 'content.styl'
@require 'loadScreen.styl'