@font-face
  font-family: inconsolata
  src: url(/static/Inconsolata-Bold.ttf),url('Inconsolata-Bold.woff2') format('woff2')

@keyframes rotate
  to
    transform: rotate(1turn)

.main-load-screen
  display: flex
  font-family: inconsolata
  background-color: fuzzblak
  flex-flow: column
  align-items: center
  min-height: 100vh

.loading
  color: fuzzwhit
  max-width: 50%
  line-height: 1.4
  font-size: 2.2rem
  font-weight: bold
  text-align: center

.loading__anim
  width: 75px
  height: 75px
  display: inline-block
  border: 7px solid rgba(255, 195, 255, 1.0)
  border-left-color: fuzzpurp
  border-top-color: fuzzpurp
  border-radius: 50%
  animation: rotate 600ms infinite linear
