@require 'colors.styl'

#nav
  display: flex
  width: 100%
  background: fuzzpurp
  flex-direction: column
  flex-flow: row wrap
  position: fixed

  {ahref}
    background: fuzzpurp
    color: fuzzwhit
    display: flex
    height: 64px
    width: 64px
    padding: 0
    text-decoration: none
    justify-content: center
    align-items: center

    &.active
      background: fuzzwhit
      color: fuzzpurp

  .disabled
    color: fuzzblak
    background: fuzzpurp
    display: flex
    height: 64px
    width: 64px
    padding: 0
    justify-content: center
    align-items: center
    cursor: not-allowed

  .left
    background: fuzzpurp
    display: flex
    flex: 1
    justify-content: flex-start

  .right
    background: fuzzpurp
    display: flex
    flex: 1
    justify-content: flex-end

  .left, .right
    a
      text-align: center

.action-nav
    display: flex
    padding-left: 15px
    margin-left: -20px
    width: 100%
    background:indigo

.action-button
    display: flexbox
    background: fuzzpurp
    border: solid 1px fuzzwhit
    width: 125px
    height: 35px
    margin: 15px
    opacity: 1.0
    text-align: center

.in-action
    background: #1da598
    height: 25px
    padding-top: 9px
    border-radius: inherit 
    transition: width .1s ease-in
    text-align: center

.out-of-action
    height: 25px
    padding-top: 9px
    text-align: center

.float-label
  z-index : 50
  min-width : 125px
  text-align: center

