.share
  
  .select-file-button
    font-size: 16px
    font-weight: 700
    color: fuzzwhit
    display: inline-block
    border: solid 1px fuzzwhit
    padding: 10px
    margin: 10px
    opacity: 1.0

  .file-list
    li
      margin-left: 0%
      margin-bottom: 5px
      width: 100%
      height: 100%
      background: #c133fa
      list-style-type: none

  .tag-text-area
    font-size: 16px
    font-weight: 700
    color: fuzzwhit
    background-color: fuzzpurp
    display: inline-block
    border: solid 1px fuzzwhit
    width: 250px
    padding: 10px
    margin: 10px
