.switch

  .file-text
    li
      margin-left: 0%
      margin-bottom: 5px
      width: 100px
      height: 100%
      list-style-type: none
      display: flex
      background: green
      float: left

  .file-button
    font-size: 16px
    font-weight: 700
    color: fuzzwhit
    background-color: fuzzpurp
    display: inline-block
    border: solid 1px fuzzwhit
    padding: 10px
    margin-top: -13px
    width: 125px
    float: right

  .file-list
    li
      margin-left: 0%
      margin-bottom: 40px
      width: 250px
      height: 100%
      list-style-type: none

